.gradle/
build/
out/
!gradle/wrapper/gradle-wrapper.jar
.idea/
*.iml
.vscode/
.DS_Store
*.log
HELP.md
.classpath
.project
.settings/
bin/
target/

# Fajl sa produkcijskim lozinkama, sablon je .env.prod.example
.env
